/* Hero */
.hero {
  background-image: url(../img/foto16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -250px;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  font-family: "Moderustic", sans-serif;
  line-height: 50px;
  animation: scaleDown 1.3s ease-out;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 20px 20px;
}

.hero-tulisan {
  color: white;
  position: absolute;
  top: 45%;
  left: 28%;
  text-align: center;
}

.hero-tulisan h2 {
  font-size: 40px;
}

.hero-tulisan p.atas {
  font-family: "Edu VIC WA NT Beginner", sans-serif;
  font-size: 28px;
  font-weight: 800;
}

.hero-tulisan p.bawah {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 800;
}
/* Gallery */
h1.galeri-atas {
  margin-top: 5vh;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6), -3px -3px 5px rgba(255, 255, 255, 0.4);
}
.galeri-utama h2.mekanikal {
  font-family: 'Moderustic', sans-serif;
  margin: 5vh 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 5px rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  position: relative;
}
.galeri-utama h2.mekanikal img {
  margin-left: 1vh;
  height: 6vh;
  position: absolute;
}
.galeri {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 25% 25% 25% 25%;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 20px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, .5);
}
.galeri .galeri-child {
  margin: 3vh 3vh;
  background: rgb(33, 37, 41);
  padding: 1px;
  border-radius: 20px;
  border: 2px solid rgb(33, 37, 41);
  overflow: hidden;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
.galeri .galeri-child img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  border: none;
  border-radius: 20px;
}
.galeri .galeri-child img:hover {
  color: black;
}

.galeri-utama h2.elektrikal {
  font-family: 'Moderustic', sans-serif;
  margin: 5vh 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 5px rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  position: relative;
}
.galeri-utama h2.elektrikal img {
  margin-left: 1vh;
  height: 4vh;
  position: absolute;
}
.galeri-utama h2.maintenance {
  font-family: 'Moderustic', sans-serif;
  margin: 5vh 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 5px rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  position: relative;
}
.galeri-utama h2.maintenance img {
  margin-left: 1vh;
  height: 6vh;
  position: absolute;
}